.home {
  color: var(--darkred);

  &__name {
    font-size: 2rem;
  }

  &__profile-picture {
    margin: 3rem;
    height: 200px;
  }

  &__designation {
    &__text {
      margin: 1rem;
      font-size: 2.5rem;
    }
  }

  &__scroll-icon {
    margin: 1rem;
    font-size: 2rem;
    color: var(--lightpink);
  }
}

.--small {
  font-size: 2rem;
}

.--smaller {
  font-size: 1.5rem;
}


