:root {
  --coeff1: 5%;
  --coeff2: 8%;
  --coeff3: 10%;
  --coeff4: 15%;
  --coeff5: 20%;
  --coeff6: 25%;
  --coeff7: 30%;
}

.form-container {
  position: absolute;
  z-index: 0;

  height: 90vh;
  width: 98vw;
}

.form {
  max-width: 400px;
  max-height: 400px;

  &--big {
    max-width: 500px;
    max-height: 500px;
  }
}

.stroke {
  max-width: 900px;
  max-height: 900px;
}

@media screen and (max-width: 1200px) {
  .form {
    max-width: calc(400px - var(--coeff1));
    max-height: calc(400px - var(--coeff1));

    &--big {
      max-width: calc(500px - var(--coeff1));
      max-height: calc(500px - var(--coeff1));
    }
  }

  .stroke {
    max-width: calc(800px - var(--coeff1));
    max-height: calc(800px - var(--coeff1));
  }
}

@media screen and (max-width: 1024px) {
  .form {
    max-width: calc(400px - var(--coeff2));
    max-height: calc(400px - var(--coeff2));

    &--big {
      max-width: calc(500px - var(--coeff2));
      max-height: calc(500px - var(--coeff2));
    }
  }

  .stroke {
    max-width: calc(800px - 12%);
    max-height: calc(800px - 12%);
  }
}

@media screen and (max-width: 960px) {
  .form {
    max-width: calc(400px - var(--coeff3));
    max-height: calc(400px - var(--coeff3));

    &--big {
      max-width: calc(500px - var(--coeff3));
      max-height: calc(500px - var(--coeff3));
    }
  }

  .stroke {
    max-width: calc(800px - var(--coeff3));
    max-height: calc(800px - var(--coeff3));
  }
}

@media screen and (max-width: 768px) {
  .form {
    max-width: calc(400px - var(--coeff5));
    max-height: calc(400px - var(--coeff5));

    &--big {
      max-width: calc(500px - var(--coeff3));
      max-height: calc(500px - var(--coeff3d));
    }
  }

  .stroke {
    max-width: calc(800px - var(--coeff6));
    max-height: calc(800px - var(--coeff6));
  }
}

@media screen and (max-width: 680px) {
  .stroke {
    display: none;
  }
}

@media screen and (max-width: 530px) {
}

@media screen and (max-width: 480px) {
  .form {
    max-width: calc(400px - var(--coeff5));
    max-height: calc(400px - var(--coeff5));

    &--big {
      max-width: calc(500px - var(--coeff4));
      max-height: calc(500px - var(--coeff4));
    }
  }
}

@media screen and (max-width: 320px) {
  .form {
    max-width: calc(400px - var(--coeff6));
    max-height: calc(400px - var(--coeff6));

    &--big {
      max-width: calc(500px - var(--coeff6));
      max-height: calc(500px - var(--coeff6));
    }
  }
}
